* {margin: 0;
    padding: 0;
    }
    body {
        height: 105vh;
        width: 100%;
        background-color: black;
    }
    
    .body {
        margin-top: 8px;
        background-color: black;
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 90vh;
      
        
    }
    
    .small {
        width: 22.5%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        
        
    }
    
    .big {
        width: 76%;
        height: 90vh;
        background-image: linear-gradient(rgb(35,35,35), rgb(18,18,18));
        overflow-y: scroll;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
        /* flex-wrap: wrap; */
        border-radius: 10px;
    }

    
   
    .sm1 {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 18vh;
        background-color: rgb(18,18,18);
        border-radius: 10px;
    
    }
    
    .sm2 {
        width: 100%;
        height: 65vh;
        background-color: rgb(18,18,18);
        border-radius: 10px;
    }
    
    .box {
        width: 24%;
        height: 25vh;
        background-color: blue;
    }
    
    .spot {
        margin-top:-20px;
        margin-left: 20px;
        width: 80px;
        height: 80px;
    }
    
    #home {
        margin-top: -5px;
        margin-left: 20px;
        color: white;
        font-size: 25px;
    }
    
    #home1 {
        margin-top: 20px;
        margin-left: 20px;
        color: rgb(212, 197, 197);
        font-size: 27px;
    }
    
    .icon {
        display: flex;
        
    }
    .h4 {
        color: white;
        margin-left: 10px;
    }
    
    .hh {
        color: rgb(212, 197, 197);
        margin-top: 22px;
        margin-left: 10px;
    }
    .libr {
        border-radius: 10px;
        display: flex;
        height: 60px;
        align-items: center;
        background-color: rgb(18,18,18);
        color: rgb(212, 197, 197);
    
    }
    
    #icon1 {
        margin-left: 20px;
    }
    
    .lib {
        margin-left: 10px;
    }
    
    #plus {
        margin-left: 50px;
    }
    
    #plu {
        margin-left: 14px;
    }

    .scr {
        height: 77%;
        background-color: rgb(18,18,18);
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    
    .play {
        width: 89%;
        height: 180px;
        margin-top: 10px;
        padding-bottom: 15px;
        background-color: rgb(36,36,36);
        border-radius: 10px;
        color: white;
        margin-bottom: 10px;
    }
    
    .cre {
        margin-top: 5px;
        font-weight: 900;
        margin-left: 15px;
        font-size: 14px;
    }
    
    .cre1 {
        margin-top: 5px;
        font-weight: 500;
        margin-left: 15px;
        font-size: 14px;
    }
    
    
    .crea {
        margin-top: 20px;
        font-weight: 700;
        margin-left: 10px;
        width: 130px;
        height: 33px;
        border: none;
        border-radius: 15px;
    }
    
    .leg {
        margin-left: 1rem;
        margin-top: 10px;
        gap: 10px;
        line-height: 20px;
        width: 65%;
        display: flex;
        font-size: 11px;
        font-weight: 400;
        flex-wrap: wrap;
        color: white;
    }
    .eng {
        margin-left: 15px;
        margin-top: 40px;
        padding: 3px 7px 3px 7px;
        display: flex;
        align-items: center;
        border-radius: 20px;
        border: solid 1px grey;
        color: white;
        font-size: 13px;
        background-color: rgb(18,18,18);
    }
    
    #eng {
        font-size: 18px;
    }
    
    ::-webkit-scrollbar {
        width: 10px;
    }
    
    ::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.189);
      
    }
    
    ::-webkit-scrollbar-thumb {
        background: #88888884;
        
    }
    
    header {
        height: 12vh;
        width: 73.5%;
        background-color: rgb(35,35,35);
        display: flex;
        justify-content: space-between;
        position: absolute;
    
    }
    
    .arrow {
        margin-left: 20px;
        width: 80px;
        /* background-color: blue; */
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    #arrow {
        color: white;
        font-size: 35px;
        font-weight: 100;
        
    }
    
    .arr {
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background-color: rgba(23, 22, 22, 0.667);
        display: flex;
        align-items: center;
        justify-content: space-around;
       
    }
    
    .sing {
        display: flex;
        width: 37%;
        align-items: center;
        justify-content: space-between;
    } 
    .notee {
        display: flex;
        align-items: center;
    }

    .note {
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 100%;
        background-color:rgb(15,15,15);
        width: 30px;
        height: 30px;
    }

    a {
        color: black;
    }
    #not {
        font-size: 19px;
        color: white;

    }
    
    .b1 {
        font-weight: 700;
        font-size: 13.5px;
        background-color: rgb(255,255,255);
        border-radius: 30px;
        border: none;
        width: 130px;
        height: 28px;
        color: black;
        transition: 0.1s;
    
    }
    
    .b1:hover {
        transform: scale(1.09,1);
        
    }
    
    .b2 {
        font-weight: 700;
        font-size: 11.5px;
        background-color: rgb(14,14,14);
        border-radius: 30px;
        border: none;
        width: 100px;
        height: 30px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        transition: 0.1s;
    
    }

    .dow {
        height: 18px;
        width: 18px;
    }
    
    .b2:hover {
        transform: scale(1.09,1);
        
    }

    .musice {
        display: flex;
        margin-left: 30px;
        margin-bottom: 30px;
        height: 50vh;
    }
    
    .spo {
        color: white;
        margin-top: 70px;
        margin-left: 30px;
        font-size: 24px;
        font-weight: 900;
        
    }
    
  
    .spoct {
        display: flex;
        width: 100%;
        /* background-color: azure; */
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    
    .show {
        margin-top: 70px;
        color: rgb(178,178,178);
    }

    .spoe {
        color: white;
        margin-left: 30px;
        font-size: 24px;
        font-weight: 900;
        
    }
    
  
    .spoct {
        display: flex;
        width: 100%;
        /* background-color: azure; */
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    
    .showe {
        color: rgb(178,178,178);
        margin-right: 45px;
    }

    .spoct1 {
        display: flex;
        width: 100%;
        /* background-color: azure; */
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    
    .show1 {
        margin-top: 20px;
        color: rgb(178,178,178);
        margin-right: 45px;
    }

    .spo1 {
        color: white;
        margin-top: 20px;
        margin-left: 30px;
        font-size: 24px;
        font-weight: 900;
        
    }
    

    .music {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 30px;
        height: 50vh;
    }
    

    .plat {
        position: relative;
        border-radius: 100%;
        margin-top: -120px;
        margin-left: 110px;
        width: 45px;
        height: 45px;
        background-color: rgb(48, 190, 48);
        display: none;
        transition: 0.5s;
        
    }

    .plas {
        position: relative;
        left: 12px;
        top: 10px;
        
    }

    .plat1 {
        position: relative;
        border-radius: 100%;
        margin-top: -120px;
        margin-left: 110px;
        width: 45px;
        height: 45px;
        background-color: rgb(48, 190, 48);
        display: none;
        transition: 0.5s;
        
    }

    .plat2 {
        position: relative;
        border-radius: 100%;
        margin-top: -120px;
        margin-left: 110px;
        width: 45px;
        height: 45px;
        background-color: rgb(48, 190, 48);
        display: none;
        
        
    }

    .plat3 {
        position: relative;
        border-radius: 100%;
        margin-top: -120px;
        margin-left: 110px;
        width: 45px;
        height: 45px;
        background-color: rgb(48, 190, 48);
        display: none;
        
    }

    .plas1 {
        position: relative;
        left: 12px;
        top: 10px;
        
    }

    .musicb:hover .plat {
        display: block;
    }

    .musicb1:hover .plat1 {
        display: block;
    }

    .musicb2:hover .plat2 {
        display: block;
    }

    .musicb3:hover .plat3 {
        display: block;
    }
    
    .musicb {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        background-color: rgb(24,24,24);
        width: 22%;
        height: 51vh;
        transition: 0.5s;
    }
    
    .musicb1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        background-color: rgb(24,24,24);
        width: 22%;
        height: 51vh;
        transition: 0.5s;
    }
    .musicb2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        background-color: rgb(24,24,24);
        width: 22%;
        height: 51vh;
        transition: 0.5s;
    }

    .musicb3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        background-color: rgb(24,24,24);
        width: 22%;
        height: 51vh;
        transition: 0.5s;
        
    }

    .musicb:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .musicb1:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .musicb2:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .musicb3:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
    
    
    .pics {
        margin-top: 15px;
        width: 83%;
        height: 33vh;
        border-radius: 10px;
    }
    
    .text {
        margin-top: 10px;
        width: 90%;
        display: block;
    }
    
    .text h4 {
        color: white;
        font-weight: 900;
        font-size: 16px;
    
    }
    
    .text p{
        color: rgb(160,160,160);
        margin-top: 5px;
        font-weight: 600;
        font-size: 12px;
        
    }
    
    .after {
        height: 70vh;
        /* background-color: blueviolet; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }
    
    .aft {
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        /* background-color: peachpuff; */
        align-items: top;
        justify-content: space-evenly;
        height: 35vh;
        width: 95%;
        display: flex;
        margin-bottom: 30px;
        border-bottom: solid 0.05px rgb(143, 139, 139);
       
    }
    
    .tett {
        width: 23%;
        line-height: 25px;
        /* background-color: blue; */
    }
    
    .tett h3 {
        font-size: 16px;
        font-weight: 900; 
        color: white;
    }
    
    .tett p {
        color: rgb(167,167,167);
    }

  
    .tett p:hover {
        color: white;
        text-decoration: underline;
    }
    
    .tett p a {
        color: rgb(167,167,167);
        text-decoration: none;
    }
    
    .afte {
        margin-left: auto;
        margin-right: auto;
        /* background-color: peachpuff; */
        align-items: top;
        height: 10vh;
        width: 95%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        color: rgb(167,167,167);
        font-weight: 500;
        font-size: 13px;
        
       
    }

    .aft p:hover {
        color: white;
        text-decoration: underline;
    }

    .afee1 p:hover {
        color: white;
    }

    .afee1 {
        display: flex;
        gap: 1rem;
    }

    .afee {
        display: flex;
        gap: 1rem;
    }
    
    .ico1 {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: rgb(41,41,41);
        width: 35px;
        height: 35px;
        border-radius: 100%;
    }
    
    .teta {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 40px;
        width: 18%;
    }
    
    .ing, .twi {
        width: 20px;
        height: 20px;
    }
    
    .last {
        margin-top: 10px;
        width: 100%;
        height: 13vh;
        background-color: rgb(0,0,0);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .pre {
        margin-left: 20px;
        font-weight: 200;
        color: white;
        font-size: 13px;
    }
    
    .up {
        margin-top: 5px;
        margin-left: 20px;
        font-weight: 500;
        color: white;
        font-size: 16px;
    }
    
    .free {
        width: 130px;
        height: 45px;
        border: none;
        border-radius: 20px;
        margin-right: 15px;
        font-weight: 700;
    }
    
    .free:hover {
        transform: scale(1.08,1);
    }